# transformers==4.39.3
# torch==2.2.2          
# tokenizers==0.15.2    
# numpy==1.24.4         
# sentencepiece==0.1.99
# setuptools==69.5.1
# pytorch-crf==0.7.2


transformers==4.39.3  # Revert to a more recent version
torch==2.2.2          # Keep as is
tokenizers==0.19.1    # Update to a version with Py3.11 wheels and compatible with transformers 4.39.3 (requires <0.20 and >=0.14)
numpy==1.24.4         # Keep this; we know we can't easily upgrade it
sentencepiece==0.1.99
setuptools==69.5.1
pytorch-crf==0.7.2